.cart-credit {
  height: 285px;
  width: 494px;
  background-color: black;
  margin-top: 169px;
  margin-left: 452px;
  border-radius: 23px;
}
.card-number {
  bottom: 160px;
  font-size: 26px;
  color: white;
  margin-left: 20px;
}
.cart-logo{
  color: white;
  display: flex;
  font-size: 36px;
}
.titre{
  margin-top: 62px;

}
.expiration{
  color: white;
  margin-left: 279px;
    margin-top: -29px;
}
.puce{
  color: white;
  margin-left: 20px;
  font-size: 36px;


}